body{
    font-family: Lora, serif;
    font-size: 0.875rem;
    background: #F8F9FA;
}
.wraper{
    min-width: 300px;
    max-width: 600px;
    overflow: clip;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header {

    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-h1 {
    font-size: 36px;
}
.header-img-container{
    width: 200px;
}
.header-img {
    display: block;
    width: 100%;
    height: 100%;
}

/* ------------------------------ */
.form{
    
}
.date-input-container {
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
}
.date-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.date-output{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.preset{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 20px;
    margin-top: 40px;
}
.preset__item{
    border: 1px solid black;
}