body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 20px;
}

td:first-of-type{
    width:120px;
}